

<h1>Cocktails overview </h1>
<div class="container">

  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do  %>
          <div class="card-wrapper">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category">Popular</div>
              <div class="card-description">
                <h2><%= cocktail.name %></h2>
                <p>Cocktail description</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Add new cocktail", new_cocktail_path %>

<%= cl_image_tag("yrwasyeaks0zhsp2mxze",
      width: 400, height: 300, crop: :fill) %>
